.container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
}

.content {
    text-align: center;
    width: max-content;
    margin: auto;
}

.content h2 {
    margin-top: 10px;
    text-wrap: none;
}

.content p {
    font-size: calc(.5rem + .8vw);
}

.info {
    float: right;
}


.info:hover {
    transform: scale(1.1);
}

.dropdown {
    width: 100%;
}

.adjust {
    margin-left: 11px;
}

.submit {
    margin-bottom: 10px;
}

.submit button {
    margin: 10px;
}

.menu {
    position: absolute;
    left: 10px;
    top: 10px;
}



